:root { 
	--mYcolor: black; 
} 
.folioViewer > .pane > .list.busy::after { 
	color : var(              --mYcolor); 
} 

.folioViewer > .pane > .list.busy::after { 
	animation-name: Folioviewer-listspinner; 
	animation-duration: 0.5s; 
	animation-iteration-count: infinite; 
	animation-timing-function: ease-in-out; 
} 